# api/.htaccess

# Directiva para reenviar el encabezado de autorización a PHP
# Es más compatible que RewriteRule para esta tarea
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Configuración de Cabeceras para CORS
# Es importante que esto esté aquí para la comunicación entre servidores
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

# Habilita el motor de reescritura para otras posibles reglas
RewriteEngine On